* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'KENOKY';
    src: url(./assets/KenokyLight-3zezL.ttf);
}

@font-face {
    font-family: 'Neutral Face';
    src: url(./assets/NeutralFace.otf);
}



body {
    background-color: #f0eed7;
    color: #161616;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 80px;
    width: 100%;
}

header .img img {
    width: 80px;
    padding: 0 20px;
    filter: invert(1);
    animation: spinning 3s infinite linear;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
header .heading {
    font-family: "Neutral Face";
}

/* Burger Menu */
.nav-toggler{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 30px;
    width: 50px; 
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

#menuBtnDiv2 {
    position: absolute;
    z-index: 100;
    top: 6rem;
    right: 30px;
    width: 50px; 
    border: none;
    outline: none;
    cursor: pointer;
    animation: spinning 3s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#menuBtnDiv2 .l1 {
    transform: translateY(0px) rotate(135deg);
}
#menuBtnDiv2.active .l2 {
    opacity: 0;
  }
#menuBtnDiv2 .l3 {
    transform: translateY(0px) rotate(-135deg);
}
#menuBtnDiv2 .line {
    background: #ffffff;
  }


.line {
    position: absolute;
    display: block;
    width: 100%;
    background: #000000;
    height: 2px;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
  }

.nav-toggler .l1 {
    transform: translateY(-10px);
  }
  
.nav-toggler .l3{
    transform: translateY(10px);
  }
  /* Lorsqu'on clique dessus, on les tourne et les faire rotate et pour la bar du milieu on met l'opacité à 0*/
  .nav-toggler.active .l1{
    transform: translateY(0px) rotate(135deg);
  }
  .nav-toggler.active .l2 {
    opacity: 0;
  }
  .nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
  }


/* Header */

header .menu img {
    width: 35px;
    padding: 0 50px;
    cursor: pointer;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inner-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: transparent;
    transition: all 0.8s cubic-bezier(0.19, 0.22, 1) ease-in-out;
}

.inner-container .inner-inner-container {
    width: 100%;
    height: 80%;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-left: 1px solid rgba(39, 39, 39, 0.281);
}

.top-section h1 {
    font-size: 3rem;
    font-family: 'Kenoky';
    font-weight: lighter;
    text-transform: uppercase;
    color: #8f0000;
}

.top-section p {
    padding: 0.5rem 0;
    font-family: 'Neutral Face';
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding-left: 2px;
}

.inner-container .bottom-section {
    font-size: 25rem;
    margin-bottom: 50px;
    font-family: 'KENOKY';
    font-weight: lighter;
    color: #8f0000;
}

.inner-container:hover .top-section h1 {
    transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    color: white;
}

.inner-container:hover .top-section p {
    transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    color: white;
}

.inner-container:hover .bottom-section {
    transition: color 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    color: white;
}

.inner-container-1:hover{
    background-image: url(./assets/px-Henri_Gervex__Rolla_.webp);
}
.inner-container-2:hover{
    background-image: url(./assets/narcisse.webp);
}
.inner-container-3:hover{
    background-image: url(./assets/meisje-met-de-parel.webp);
}
.inner-container-4:hover{
    background-image: url(./assets/px-Apollo_of_the_Belvedere.webp);
}



@media screen and (max-width: 400px){

    header {
     color: #8f0000;
    }


    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header .menu img {
        width: 50px;
    }

    .top-section h1 {
        margin-top: 4rem;
        font-size: 2.8rem;
        color: #8f0000;
    }


    .top-section p {
        color: #8f0000;
    }

    .inner-container-1{
        background-image: url(./assets/px-Henri_Gervex__Rolla_.webp);
        width: 20%;
    }
    .inner-container-2{
        background-image: url(./assets/narcisse.webp);
        width: 20%;
    }
    .inner-container-3{
        background-image: url(./assets/meisje-met-de-parel.webp);
        width: 20%;
    }
    .inner-container-4{
        background-image: url(./assets/px-Apollo_of_the_Belvedere.webp);
        width: 20%;
    }

    /* Nav menu responsive */

    .nav-container .heading1 a,
    .nav-container .heading2 a,
    .nav-container .heading3 a
    {
        font-size: 90px;
    }
    
    .menu-container {
        flex-direction: column-reverse;
        height: 100%;
        overflow: hidden;
    }

    .menu-container .menu-container-1 {
        width: 100%;
       
    }

    .menu-container .menu-container-2 {
        width: 100%;
        padding: 10px;
    }
}


/* Nav menu*/

.menu-container-footer ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a {
    color: #8f0000;
}
.nav-container {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.nav-container div {
font-size: 300px;
  line-height: 0.8;
  font-family: "KENOKY";
  font-weight: lighter;
  color: #8f0000;
}

.heading1 {
    margin-left: 11%;
  }
  .heading3 {
    margin-left: 3%;
  }

  /* menu container */

  .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    font-family: "Neutral Face";
  }

  .menu-container .menu-container-1 {
    width: 100%;
    background-color: #010101;
  }

  .menu-container-1 {
    display: flex;
    padding: 10vh 5vw;
    flex-direction: column;
    justify-content: space-between;
    color: #8f0000;
  }

  .menu-container-1 .menu-container-header li {
    font-size: 60px;
    margin: 10px 0;
    font-weight: bold;
    overflow: hidden;
  }

  .menu-container-1 .menu-container-footer li {
    font-size: 30px;
    font-weight: lighter;
    text-decoration: underline;
    margin: 5px 0px;
    overflow: hidden;
  }

  ul {
    list-style: none;
  }

  .menu-container .menu-container-2 {
    width: 40vw;
    background-color: #8f0000;
  }

  .menu-container-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10vh 5vw;
    color: #ffffff;
  }

  .menu-container-2 .menu-container-footer li {
    font-size: 30px;
    font-weight: lighter;
    margin: 5px 0px;
    overflow: hidden;
  }

  #latestWork {
    font-size: 20px;
    text-decoration: none;
    margin: 20px 2px;
  }

  .menu-container-header li span,
.menu-container-footer li span {
  display: block;
  position: relative;
}


.menu-container-header li:hover span,
.menu-container-footer li:hover span {
  animation: MoveDown 0.3s forwards, MoveUp 0.2s forwards 0.2s;
}

@keyframes MoveDown {
    to {
      transform: translate3d(0, 105%, 0);
    }
  }
  @keyframes MoveUp {
    from {
      transform: translate3d(0, -100%, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }